@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <iframe src='https://webchat.botframework.com/embed/EchoBot201912-01?s=<Channel-Secret-Key>' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>
